@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700&display=swap');

 /*------------- Whole Document---------------- */

body {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
}

kbd {
  background-color: white;
  border: 1px outset #333;
  color: black;
  padding: 1px 3px;
}

.sidenote, .marginnote { 
  float: left;
  clear: left;
  margin-left: -20%;
  width: 15%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: text-bottom;
  text-align: right;
  position: relative;
}

.info {
  padding: 1.5em 1.5em 1.5em 10em;
  margin-bottom: 10px;
  border: 2px #C5E0B4;
  border-radius: 10px;
  background: #A9D18E 5px center/3em no-repeat; 
    background-image: url(images/icons/info.png);
  background-size: 15%;
  min-height: 150px;
}

.remember {
  padding: 1.5em 1.5em 1.5em 10em;
  margin-bottom: 10px;
  border: 2px #FFE699;
  border-radius: 10px;
  background: #FFD966 5px center/3em no-repeat;
    background-image: url(images/icons/remember.png);
  background-size: 15%;
  min-height: 150px;
}

.exercise {
  padding: 1.5em 1.5em 1.5em 1.5em;
  margin-bottom: 10px;
  border: 2px #9CC2E5;
  border-radius: 10px;
  background: #9CC2E5 5px center/3em no-repeat;
    background-image: url(images/icons/exercise.png);
  background-size: 15%;
  background-position: right top; 
  min-height: 150px;
}



/*----------------NAVBAR ---------------*/
.navbar-default {
    background-color: #FFA600;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #FF8E00;
  color: #FFFFFF !important;
}

/* Dropdown menu color */
.navbar-default .dropdown-menu {
  background-color: #FFA600;
  color: #FFFFFF;
}

/* Dropdown menu hover color */
  .navbar-default .dropdown-menu>li>a:hover {
    background-color: #FF8E00;
    color: #FFFFFF;
  }


.navbar-brand {
  color: #FFFFFF !important;
  font-weight: 900 !important;
}

.nav.navbar-nav.navbar-right>li>a {
    color: white;
}

.navbar-default .dropdown-menu>li>a {
    color: white;
}


/* Navbar Links when hovered*/
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #FFFFFF !important;
  background-color: #FFA600;
}


.navbar-default .dropdown-menu>.active>a{
  background-color: #FF8E00;
  color: #FFFFFF !important;
}


/* TOC Position */
  
.tocify {
  object-position: -7.5 ;
  width: -20% !important;
  margin-left: -7.5% !important;
}



 /* TOC links */

.list-group-item {
    color: #FFFFFF;
    font-size: 16px;
    background-color: #FFA600;
    border: 1px #FF8E00 solid !important;
}

.list-group-item.active {
    color: #FFFFFF;
    background-color: #FF8E00;
}

.list-group-item:hover, 
.list-group-item.active:hover {
    color: white;
    background-color: #FF8E00;
}

.list-group{
    border-top: 1px #FF8E00 solid !important;
    border-bottom: 1px #FF8E00 solid !important;
}

.list-group-item {
    border-top: 1px #FF8E00 solid !important;
    border-bottom: 1px #FF8E00 solid !important;
}